/* ----------------- PROJECT SETTINGS SECTION STARTED ----------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Sansita Swashed', cursive;
    background-color: #FFEAA1;
}

a {
    color: #A52A2A;
    text-decoration: none;
}
/* ----------------- PROJECT SETTINGS SECTION ENDED ----------------- */

/* ----------------- TOP SECTION STARTED ----------------- */

#top-label {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    margin-top: 2px;
    margin-bottom: 0;
    color: #7C3705;
    cursor: pointer;
}

#top-label:hover {
    color: #A52A2A;
}

#top-line {
    color: #7C3705;
}

/* ----------------- TOP SECTION ENDED ----------------- */

/* ----------------- MAIN SECTION STARTED ----------------- */

#search-field {
    font-family: 'Sansita Swashed', cursive;
    margin-left: 5px;
    padding-left: 2px;
    text-align: left;
    width: 150px;
}

#search-btn {
    color: #0f221c;
    font-family: 'Sansita Swashed', cursive;
    text-decoration: none;
    background-color: #FFDEAD;
    outline: none;
}

#search-btn:hover {
    color: #A52A2A;
    cursor: pointer;
}

.book-section-wrapper {
    width: 60%;
}

.book-section {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#book-table {
    border: 1px solid #00FF7F;
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 5%;
    width: 100%;
}

#table-head {
    color: #A52A2A;
    text-align: left;
}

.filter-section {
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
    width: 20%;
    margin-bottom: 75%;
}

#filter-btn {
    color: #0f221c;
    font-family: 'Sansita Swashed', cursive;
    text-decoration: none;
    background-color: #FFDEAD;
    outline: none;
}

#filter-btn:hover {
    color: #A52A2A;
    cursor: pointer;
}

/* ----------------- MAIN SECTION ENDED ----------------- */

/* ----------------- BOTTOM SECTION STARTED ----------------- */

#author-id {
    color: #00FF7F;
    position: fixed;
    bottom: 0;
    right: 0;
}

#author-id:hover {
    color: #A52A2A;
}
/* ----------------- BOTTOM SECTION STARTED ----------------- */