/* ----------------- PROJECT SETTINGS SECTION STARTED ----------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FFEAA1;
}

a {
    text-decoration: none;
}

/* ----------------- PROJECT SETTINGS SECTION ENDED ----------------- */

/* ----------------- TOP SECTION STARTED ----------------- */

#top-label {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    margin-top: 5px;
    margin-bottom: 0;
    color: #7C3705;
    cursor: pointer;
}

#top-line {
    color: #7C3705;
}

/* ----------------- TOP SECTION ENDED ----------------- */

/* ----------------- MAIN SECTION STARTED ----------------- */

.search-section {

}

#search-field {
    text-align: left;
    width: 150px;
}

#search-btn {
    color: #0f221c;
    text-decoration: none;
    background-color: #FFDEAD;
    outline: none;
}

#search-btn:hover {
    cursor: pointer;
}

.filter-section {
    padding-top: 15px;
    float: left;
    width: 20%;
}

#filter-btn {
    color: #0f221c;
    text-decoration: none;
    outline: none;
}

/* ----------------- MAIN SECTION ENDED ----------------- */

/* ----------------- BOTTOM SECTION STARTED ----------------- */



/* ----------------- BOTTOM SECTION STARTED ----------------- */